*{box-sizing: border-box;}
html,body{padding:0;width:100%;height:100%;margin:0;}
html{
	background:#F593D3;
	background-repeat:no-repeat;
	background-position: bottom right;
	color:#333;
	font-family: Inter,Helvetica,Arial,sans-serif;
	scrollbar-width: thin;
	line-height: 1.5;
	
}
div:not(#steamcont),article{
	max-width: 800px;
	margin: 0 auto;
}
article{
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
	background:#fefefe;
	padding:10px;
	text-align: justify;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	margin-bottom:100px;
}
footer{
	text-align: center;
	color: #fefefe;
	position: fixed;
	bottom:0;
	background:#222831;
	width:100%;
	padding:5px;
	
}
footer a{
	color:#F593D3
}
a{
	color:#666;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}
#social{
	position:absolute;
	top: 5px;
	right: 5px;
}
#bsky{
	color: #0D63BE
}
#x{
	color: #cdcdcd;
}
#social a{
	display:inline-block;
	width: 45px;
	height: 45px;
	margin-right:10px;
	
}
#sitetitle{
	color: #333;	
}
#steamcont{
	width: 100%;
	background-image: url("media/elements/blure-screenshot-bg.webp");
	text-align:center;
	padding: 30px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#marks{
	position:fixed;
	top:500px;
	left: 20px;
	width: 350px;
	height: 500px;
	z-index:-1000;
}
.mark{
	position: absolute;
	top:50px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	background:#EF58BC;
	width:210px;
	height: 210px;
}
.marksmall{
	right: 10px;
	top:300px;
	width: 100px!important;
	height: 100px!important;
}
#navitems a{
	display: inline-block;
	padding:15px;
	padding-bottom:5px;
	padding-top:10px;
	margin-right:0;
	text-align:center;
	border-right:1px solid #666;
	border-left: 1px solid #fefefe;
	border-top: 1px solid #fefefe;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.active{
	  background: linear-gradient(
		45deg,
		#999 5%,
		#fff 10%,
		#ccc 30%,
		#ddd 50%,
		#ccc 70%,
		#fff 80%,
		#999 95%
	  );
	  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
	  color: #333;
	  padding-top:13px!important;
}
.downloadbtn{
	display:block;
	margin:10px auto;
	width: 150px;
	background:#F9C1E6;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
}
.downloadbtn:hover{
	background: #666;
	color: #fefefe;
}
.downloadbtn:hover::after{
	content:" 🔗 itch.io";
	font-size:10px;
}
@media only screen and (max-width: 650px) {
	#steamcont{
		padding:5px;
	
	}
	iframe{
		width: 100%;
	}
}
