
*{
    scrollbar-width: thin;
    box-sizing: border-box;    
}

html{
    background:#222831;
    color: #F2F2F2;
    font-family: Inter, Helvetica, Arial, sans-serif;
}

article{
    max-width: 900px;
    margin: 20px auto;
    margin-bottom: 20px;
    padding:10px 30px;
    background: #393E46;
    -webkit-border-radius: 4px 4px 4px 4px;
    font-size: .95rem;
    text-align: justify;
    border-radius: 4px 4px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    line-height: 1.5;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}

a{
    color: #22a71e;
    text-decoration: none;
}
nav{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav ul{
    display:flex;
}

nav ul li{
    display:block;
    margin-left: 10px;
}

nav a{
    display:block;
    height:30px;
    padding:5px;
    background:#4a66478e;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
nav ul li a:active{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#postedat{
    opacity: 0.7;
    font-size: 12px;
}